################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RahmanOrdersManagement/7404/0/RahmanOrderManagementTests/bin/Debug/roslyn
